@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Space Grotesk", sans-serif;
  
  --color-brand-cream: #F5EFEB;
  --color-brand-gold: #C5A880;
  --color-brand-red: #C55E52;
  --color-brand-green: #9CB4A1;
  --color-brand-blue: #708493;
  --color-brand-dark: #1F2229;
  --color-brand-clay: #2E333F;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
